.content {
  display: flex;
  color: #353437;
  width: 100%;
  margin: auto;
}

.container {
  margin: 16px;
  border: 2px solid rgb(48, 48, 48);
  font-size: 28px;
}

.row {
  display: flex;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.05px solid rgb(224, 227, 231);
  padding-bottom: 2px;
  width: 50px;
  height: 48px;
  transition: all 0.5ms ease-in-out;
}

.number-selected {
  background-color: rgb(213, 231, 243);
}

.number-attached-number {
  background-color: rgb(216, 231, 243);
}

.number-attached {
  background-color: rgb(239, 248, 255);
}

.sudoku-buttons {
  display: flex;
  margin: 16px;
  flex-direction: column;
  gap: 10px;
}

.buttons-number {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  column-gap: 10px;
  row-gap: 10px;
  width: fit-content;
}
